/*** header ***/
.app-title {
  padding: 5px 0;
  background: #C91919;
  /*text-align: center;*/
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
  width: 95%;
  padding-left: 25px;
}

i {
  color: white;
  font-size: 1.75em;
  margin-left: 10px;
  vertical-align: middle;
  padding: 10px;
  border-radius: 50%;
}

i:hover {
  cursor: grab;
  background-color: white;
  color: #C91919;
}

/*** menu ***/
#flyoutMenu {
  width: 30vw;
  height: 100vh;
  background-color: #41A332;
  position: fixed;
  top: 58px;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}
 
#flyoutMenu.hide {
  transform: translate3d(-30vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
 
#flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}
 
#flyoutMenu h2 a:hover {
  text-decoration: underline;
}

#flyoutMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#flyoutMenu li {
  padding: 10px;
}

#flyoutMenu li:hover {
  color: #41A332;
  background-color: black;
}

#flyoutMenu i {
  color: black;
  margin-left: 80%;
}

.filter-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

/*** map ***/
#map {
  height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.error {
  font-family: sans-serif;
  color: red;
}
