/*** header ***/
.app-title {
  padding: 10px 0;
  background: #2e7c31;
  text-align: center;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
  width: 95%;
}

i {
  color: white;
  font-size: 1.75em;
  margin-left: 10px;
  vertical-align: middle;
  width: 5%;
}

i:hover {
  color: yellow;
  cursor: grab;
}

/*** menu ***/
#flyoutMenu {
  width: 30vw;
  height: 100vh;
  background-color: #FFE600;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}
 
#flyoutMenu.hide {
  transform: translate3d(-30vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
 
#flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}
 
#flyoutMenu h2 a:hover {
  text-decoration: underline;
}

.filter-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

/*** map ***/
#map {
  height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
