/*** header ***/
.app-title {
  padding: 5px 0;
  background: #C91919;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
  width: 90%;
  padding-left: 25px;
}

i {
  color: white;
  font-size: 1.5em;
  margin-right: 10px;
  vertical-align: middle;
  padding: 10px;
  border-radius: 50%;
  
}

i:hover {
  cursor: grab;
  background-color: white;
  color: #C91919;
}


/*** menu ***/

#flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}
 
#flyoutMenu h2 a:hover {
  text-decoration: underline;
}

#flyoutMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#flyoutMenu li {
  padding: 10px;
}

#flyoutMenu li:hover {
  color: #41A332;
  background-color: black;
}

#flyoutMenu i {
  color: black;
  margin-left: 80%;
}

.filter-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  /*position: fixed;*/
}


/*** map ***/
#map {
  height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.error {
  font-family: sans-serif;
  color: red;
}

#star-container {
  width: 50px;
  height: 50px;
  position: relative;
}

#star, #star-text {
  width: 100%;
  height: 100%;
  position: absolute;
}

#star-text {
  top: 40%;
  left: 30%;
}

#star {
  z-index: 10;
  background-image: url('./images/star.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  top: 0;
  left: 0;
}


/*** media queries ***/

@media screen and (min-width: 901px) {
  #flyoutMenu {
    width: 30vw;
    height: 100vh;
    background-color: #41A332;
    position: fixed;
    top: 54px;
    margin: 0 0 0 0;
    right: 0;
    transition: transform .3s*/
                cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
  }
   
  #flyoutMenu.hide {
    transform: translate3d(30vw, 0, 0);
  }
   
  #flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }

  i {
    visibility: hidden;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  #flyoutMenu {
    width: 30vw;
    height: 100vh;
    background-color: #41A332;
    position: fixed;
    top: 54px;
    margin: 0 0 0 0;
    right: 0;
    transition: transform .3s*/
                cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
  }
   
  #flyoutMenu.hide {
    transform: translate3d(30vw, 0, 0);
  }
   
  #flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }

  i {
    visibility: visible;
  }
}

@media screen and (min-width: 0px) and (max-width: 600px){
  #flyoutMenu {
    width: 100vw;
    height: 30vh;
    max-height: 30vh;
    overflow-y: auto;
    background-color: #41A332;
  }

  i {
    visibility: hidden;
  }
}

  

 

